<h2>{{titulo}}</h2>
<div class="row form-group" style="justify-content: flex-end;">
  <button type="button" class="btn btn-primary" (click)="openModal(template)">Novo</button>
</div>


<div class="row">

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Nome</th>
          <th scope="col">Endereço</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let escola of escolas">
          <th scope="row">{{escola.id}}</th>
          <td>{{escola.cnpj}}</td>
          <td>{{escola.nome}}</td>
          <td>{{escola.endereco}}</td>
          <td>
            <div class="btn-group"><button class="btn btn-outline-primary" (click)="openModal(turmas)" style="cursor: pointer;">Listar Turmas</button></div>
            <div class="btn-group"><button class="btn btn-outline-primary" (click)="escolaSelect(escola)" (click)="openModal(atualizarEscola)" style="cursor: pointer;">Atualizar</button></div>
            <div class="btn-group"><button class="btn btn-danger" style="cursor: pointer;" (click)="escolaSelect(escola)" (click)="deletarSubmit(escola)">Excluir</button></div>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastro de escola</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="escolaPostForm" (submit)="escolaSubmit()">
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <input type="text" formControlName="cnpj" class="form-control" id="cnpj" aria-describedby="CNPJ">
        </div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" formControlName="nome" class="form-control" id="nome" aria-describedby="Nome">
        </div>
        <div class="form-group">
          <label for="endereco">Endereço</label>
          <input type="text" formControlName="endereco" class="form-control" id="endereco" aria-describedby="Endereço">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!escolaPostForm.valid">Cadastrar</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #turmas>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Lista de turmas</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Turma</th>
              <th scope="col">Período</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turma of turmas">
              <th scope="row">{{turma.id}}</th>
              <td>{{turma.turma}}</td>
              <td>{{turma.periodo}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</ng-template>

<ng-template #atualizarEscola>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Atualiza escola</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <div class="container">
    <form [formGroup]="escolaForm" (submit)="atualizaSubmit()">
      <div class="form-group">
        <label for="cnpj">ID</label>
        <input type="text" formControlName="id" class="form-control" id="id" aria-describedby="CNPJ" disabled>
      </div>
      <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="text" formControlName="cnpj" class="form-control" id="cnpj" aria-describedby="CNPJ">
      </div>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" class="form-control" id="nome" aria-describedby="Nome">
      </div>
      <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" formControlName="endereco" class="form-control" id="endereco" aria-describedby="Endereço">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!escolaForm.valid">Atualizar</button>
    </form>
  </div>
  </div>
</ng-template>
