<h2>{{titulo}}</h2>

<div class="row form-group" style="justify-content: flex-end;">
  <button type="button" class="btn btn-primary" (click)="openModal(template)">Novo</button>
</div>


<div class="row">

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Escola</th>
          <th scope="col">Turma</th>
          <th scope="col">Período</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of turmas">
          <th scope="row">{{turma.id}}</th>
          <td>{{turma.escola}}</td>
          <td>{{turma.turma}}</td>
          <td>{{turma.periodo}}</td>
          <td>
            <div class="btn-group"><button class="btn btn-outline-primary" (click)="turmaSelect(turma)" (click)="openModal(atualizarTurma)" (click)="openModal(atualizarTurma)"  style="cursor: pointer;">Atualizar</button></div>
            <div class="btn-group"><button class="btn btn-danger" style="cursor: pointer;" (click)="turmaSelect(turma)" (click)="deletarSubmit(turma)">Excluir</button></div>
          </td>
        </tr>
      </tbody>
    </table>

</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastro de turma</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="turmaForm" (submit)="turmaSubmit()">
        <div class="form-group">
          <label for="escola">Escola</label>
          <input type="text" formControlName="escola" class="form-control" id="escola" aria-describedby="Escola">
        </div>
        <div class="form-group">
          <label for="turma">Turma</label>
          <input type="text" formControlName="turma" class="form-control" id="turma" aria-describedby="Turma">
        </div>
        <div class="form-group">
          <label for="periodo">Período</label>
          <input type="text" formControlName="periodo" class="form-control" id="periodo" aria-describedby="Periodo">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!turmaForm.valid">Cadastrar</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #atualizarTurma>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Atualizar turma</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<div class="container">
  <form [formGroup]="turmaForm" (submit)="atualizaSubmit()">
    <div class="form-group">
      <label for="escola">Escola</label>
      <input type="text" formControlName="escola" class="form-control" id="escola" aria-describedby="Escola">
    </div>
    <div class="form-group">
      <label for="turma">Turma</label>
      <input type="text" formControlName="turma" class="form-control" id="turma" aria-describedby="Turma">
    </div>
    <div class="form-group">
      <label for="periodo">Período</label>
      <input type="text" formControlName="periodo" class="form-control" id="periodo" aria-describedby="Periodo">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!turmaForm.valid">Atualizar</button>
  </form>
</div>
  </div>
</ng-template>
